h1 {
    text-align: center;
}

body {
    color: white;
}

.character-name {
    z-index: 1;
}

#you-win-text {
    font-size: 25px;
    margin: 20px;

}

.character-health{
    color: black;
}

#attack-button-div{
    margin-top: 10px
}

